<div class="row" *ngIf="sapProfile">
  <div class="col-md-4">
    <h1>{{sapProfile.publicId}}</h1>
  </div>
  <div class="col-md-8">
    <div class="alert alert-dismissible alert-info" *ngIf="editForm.dirty">
      <p><strong>Information: </strong>Your have made changes. Any unsaved changes will be lost</p>
    </div>
    <div class="alert alert-dismissible alert-success" *ngIf="successMessage && !editForm.dirty" #successAlert>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <strong>Well done!</strong> <p>{{ successMessage }}</p>
    </div>
  </div>



  <div class="modal fade border-info" id="proceedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><strong>Heads up!</strong></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to save?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success me-2" (click)="updateSap()">Yes</button>
          <button type="button" class="btn btn-danger me-2"(click)="modalHide()">No</button>
        </div>
      </div>
    </div>
  </div>



  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-body">


                <div>
                    <strong>Name:</strong>
                    <p>{{caps(sapProfile.firstname)}} {{caps(sapProfile.middlename)}} {{caps(sapProfile.lastname)}} {{caps(sapProfile.suffix)}}</p>
                </div>
                <div>
                    <strong>Birthday:</strong>
                    <p>{{getFormattedDate(sapProfile?.dateOfBirth)}}</p>
                </div>

                <div>
                    <strong>Age:</strong>
                    <p>{{sapProfile.age}}</p>
                </div>

                <div>
                  <strong>Gender:</strong>
                  <p>{{caps(sapProfile.gender)}}</p>
                </div>

                <div>
                  <strong>Tribe:</strong>
                  <p>{{caps(sapProfile.tribe)}}</p>
                </div>

                <div>
                  <strong>Address:</strong>
                  <p>{{caps(sapProfile.street)}}, {{caps(sapProfile.birthPlaceBrgy)}}, {{caps(sapProfile.city)}}</p>
               </div>
           
              </div>
            
            <div class="card-footer">
              <button data-bs-toggle="modal" data-bs-target="#proceedModal" 
                      [disabled]="!editForm.dirty" 
                      form="editForm" 
                      class="btn btn-success col-md-12 "
                      > Save changes</button>
            </div>
          </div>
  </div>
 
  <div class="col-md-8">
      <tabset class="member-tabset">
        <form #editForm="ngForm" id="editForm" >
        <tab heading="About {{sapProfile?.lastname}}">
          <div class="card shadow mb-3">
            <div class="card-body">

            <!-- <div class="col-md-6 mb-3">
              <label for="status">Status: {{ ipProfile?.status }}</label>
              <select id="status" formControlName="status" class="form-select" [(ngModel)]="ipProfile.status" >
                <option value="" disabled selected>{{ ipProfile?.status }}</option>
                <option *ngFor="let option of statusOptions" [value]="option.value" [selected]="ipProfile.status === option.value">{{ option.label }}</option>
              </select>
            </div>
            
            <div class="col-md-6 mb-3">
              <label for="tribe">Tribe: {{ ipProfile?.tribe }}</label>
              <select id="tribe" formControlName="tribe" class="form-select" [(ngModel)]="ipProfile.tribe" >
                <option value="" disabled selected>{{ ipProfile?.tribe }}</option>
                <option *ngFor="let option of tribeOptions" [value]="option.value" [selected]="ipProfile.tribe === option.value">{{ option.label }}</option>
              </select>
            </div>

            <div class="col-md-6 mb-3">
              <label for="churchname">Church Name: {{ ipProfile?.churchName }} </label>
              <select id="churchname" formControlName="churchname" class="form-select" [(ngModel)]="ipProfile.churchName" >
                <option value="" disabled selected>{{ ipProfile?.churchName }}</option>
                <option *ngFor="let option of churchOptions" [value]="option.value" [selected]="ipProfile.churchName === option.value">{{ option.label }}</option>
              </select>
            </div> -->


          </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-body">
            <h4 class="mt-2">Address</h4>
            <div class="col-md-6 mb-5">
                  <label for="street">Street:</label>
                  <input type="text" [(ngModel)]="sapProfile.street" name="street" id="street" class="form-control mb-3">
                  <label for="barangay">Barangay:</label>
                  <input type="text" [(ngModel)]="sapProfile.birthPlaceBrgy" name="birthPlaceBrgy" id="barangay" class="form-control mb-3">                  
                  <label for="city">City:</label>
                  <input type="text" [(ngModel)]="sapProfile.city" name="city" id="city" class="form-control mb-3">
            </div>
            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-body">

            <h4 class="mt-2">Contacts</h4>
            <div class="col-md-6 mb-3">
                  <label for="street">Phone Number:</label>
                  <input type="phoneNum" [(ngModel)]="sapProfile.phoneNum" name="phoneNum" id="phoneNum" class="form-control mb-3">
                  <label for="facebook">Facebook:</label>
                  <input type="text" [(ngModel)]="sapProfile.facebook" name="facebook" id="facebook" class="form-control mb-3">
                  <label for="email">email:</label>
                  <input type="text" [(ngModel)]="sapProfile.email" name="email" id="email" class="form-control mb-3">
            </div>
          </div>
          </div>
  
        </tab>
      </form>
   
      </tabset>
  </div>
</div>