<div class="row" *ngIf="sapProfile">
  <div class="col-md-4">
    <h1>{{sapProfile.publicId}}</h1>
  </div>
  <div class="col-md-8">
    <div class="alert alert-dismissible alert-info" *ngIf="editForm.dirty">
      <p><strong>Information: </strong>Your have made changes. Any unsaved changes will be lost</p>
    </div>
    <div class="alert alert-dismissible alert-success" *ngIf="successMessage && !editForm.dirty" #successAlert>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <strong>Well done!</strong>
      <p>{{ successMessage }}</p>
    </div>
  </div>



  <div class="modal fade border-info" id="proceedModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><strong>Heads up!</strong></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to save?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success me-2" (click)="updateSap()">Yes</button>
          <button type="button" class="btn btn-danger me-2" (click)="modalHide()">No</button>
        </div>
      </div>
    </div>
  </div>



  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-body">


        <div>
          <strong>Name:</strong>
          <p>{{caps(sapProfile.firstname)}} {{caps(sapProfile.middlename)}} {{caps(sapProfile.lastname)}}
            {{caps(sapProfile.suffix)}}</p>
        </div>
        <div>
          <strong>Birthday:</strong>
          <p>{{getFormattedDate(sapProfile?.dateOfBirth)}}</p>
        </div>

        <div>
          <strong>Age:</strong>
          <p>{{sapProfile.age}}</p>
        </div>

        <div>
          <strong>Gender:</strong>
          <p>{{caps(sapProfile.gender)}}</p>
        </div>

        <div>
          <strong>Tribe:</strong>
          <p>{{caps(sapProfile.tribe)}}</p>
        </div>

        <div>
          <strong>Address:</strong>
          <p>{{caps(sapProfile.street)}}, {{caps(sapProfile.birthPlaceBrgy)}}, {{caps(sapProfile.city)}}</p>
        </div>

      </div>

      <div class="card-footer">
        <button data-bs-toggle="modal" data-bs-target="#proceedModal" [disabled]="!editForm.dirty" form="editForm"
          class="btn btn-success col-md-12 "> Save changes</button>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <tabset class="member-tabset">
      <form #editForm="ngForm" id="editForm">
        <tab heading="About {{sapProfile?.lastname}}">



          <div class="card shadow mb-3">
            <div class="card-body">

              <div class="col-md-6 mb-5">
                <label for="firstname">First Name:</label>
                <input type="text" [(ngModel)]="sapProfile.firstname" name="firstname" id="firstname"
                  class="form-control mb-3">
                <label for="middlename">Middle Name:</label>
                <input type="text" [(ngModel)]="sapProfile.middlename" name="middlename" id="middlename"
                  class="form-control mb-3">
                <label for="lastname">Last Name:</label>
                <input type="text" [(ngModel)]="sapProfile.lastname" name="lastname" id="lastname"
                  class="form-control mb-3">
                <label for="suffix">Suffix:</label>
                <input type="text" [(ngModel)]="sapProfile.suffix" name="suffix" id="suffix" class="form-control mb-3">
              </div>


            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-body">


              <div class="col-md-6 mb-3">
                <label for="tribe">Tribe: </label>
                <select id="tribe" name="tribe" class="form-select" [(ngModel)]="sapProfile.tribe">
                  <option value="" disabled selected>{{ sapProfile?.tribe }}</option>
                  <option *ngFor="let option of tribeOptions" [value]="option.value"
                    [selected]="sapProfile.tribe === option.value">{{ option.label }}</option>
                </select>
              </div>

              <div class="col-md-6 mb-3">
                <label for="churchname">Church: </label>
                <select id="churchname" name="churchName" class="form-select" [(ngModel)]="sapProfile.churchName">
                  <option value="" disabled selected>{{ sapProfile?.churchName }}</option>
                  <option *ngFor="let option of churchOptions" [value]="option.value"
                    [selected]="sapProfile.churchName === option.value">{{ option.label }}</option>
                </select>
              </div>

            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-body">
              <h4 class="mt-2">Address</h4>
              <div class="col-md-6 mb-5">
                <label for="street">Street:</label>
                <input type="text" [(ngModel)]="sapProfile.street" name="street" id="street" class="form-control mb-3">
                <label for="barangay">Barangay:</label>
                <input type="text" [(ngModel)]="sapProfile.birthPlaceBrgy" name="birthPlaceBrgy" id="barangay"
                  class="form-control mb-3">
                <label for="city">City:</label>
                <input type="text" [(ngModel)]="sapProfile.city" name="city" id="city" class="form-control mb-3">
              </div>
            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-body">

              <h4 class="mt-2">Family </h4>
              <div class="col-md-6 mb-3">
                <label for="fathername">Father Name:</label>
                <input type="phoneNum" [(ngModel)]="sapProfile.fatherName" name="fatherName" id="fathername"
                  class="form-control mb-3">
                <label for="mothername">Mother Name:</label>
                <input type="text" [(ngModel)]="sapProfile.motherName" name="motherName" id="mothername"
                  class="form-control mb-3">
                <label for="parentOccupation">Parent Occupation:</label>
                <input type="text" [(ngModel)]="sapProfile.parentOccupation" name="parentOccupation" id="parentOccupation" class="form-control mb-3">
                <label for="numberOfSibling">Number Of Sibling:</label>
                <input type="number" [(ngModel)]="sapProfile.numberOfSibling" name="numberOfSibling" id="numberOfSibling" class="form-control mb-3" >
              </div>
            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-body">

              <h4 class="mt-2">School </h4>
              <div class="col-md-6 mb-3">
                <label for="schoolName">School Name:</label>
                <input type="text" [(ngModel)]="sapProfile.schoolName" name="schoolName" id="schoolName"
                  class="form-control mb-3">
                <label for="gradeLevel">Grade Level:</label>
                <input type="text" [(ngModel)]="sapProfile.gradeLevel" name="gradeLevel" id="gradeLevel"
                  class="form-control mb-3">
                <label for="yearSapStarted">Year Sap Started:</label>
                <input type="text" [(ngModel)]="sapProfile.yearSapStarted" name="yearSapStarted" id="yearSapStarted" class="form-control mb-3">
              </div>
            </div>
          </div>


          <div class="card shadow mb-3">
            <div class="card-body">

              <h4 class="mt-2">Others </h4>
              <div class="col-md-6 mb-3">
                <label for="communityInvolvement">Community Involvement:</label>
                <input type="text" [(ngModel)]="sapProfile.communityInvolvement" name="communityInvolvement" id="communityInvolvement"
                  class="form-control mb-3">
                <label for="talent">Talent:</label>
                <input type="text" [(ngModel)]="sapProfile.talent" name="talent" id="talent"
                  class="form-control mb-3">
                <label for="sport">Sport:</label>
                <input type="text" [(ngModel)]="sapProfile.sport" name="sport" id="sport" class="form-control mb-3">
                <label for="ambition">Ambition:</label>
                <input type="text" [(ngModel)]="sapProfile.ambition" name="ambition" id="ambition" class="form-control mb-3">
                <label for="motto">Motto:</label>
                <input type="text" [(ngModel)]="sapProfile.motto" name="motto" id="motto" class="form-control mb-3">
              </div>
            </div>
          </div>

        </tab>
      </form>

    </tabset>
  </div>
</div>