<!-- <div class="row col-md-12 mt-1">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Date/Time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let excelData of paginatedList" 
                          (click)="redirectToDetail(excelData.publicId)"
                          style="cursor: pointer;"
                          class="hover-effect">
        <td>{{excelData.publicId}}</td>
        <td>{{ caps(excelData.title) }}</td>
        <td>{{ excelData.dateUploaded | date:'medium' }}</td>
        <td><button class="btn btn-info"  routerLink="">Edit</button></td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span> Page {{ currentPage }} of {{ totalPages }} </span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>

 -->


<mat-form-field>
  <div class="col-md-4 mb-3">
    <label for="search">Search</label>
    <input class="form-control" (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </div>

</mat-form-field>

<div class="card shadow">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="name-header" > ID </th>
      <td mat-cell *matCellDef="let element" > {{element.publicId}} </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef class="name-header" > Title </th>
      <td mat-cell *matCellDef="let element" > {{ caps(element.title) }} </td>
    </ng-container>

    <!-- Date/Time Column -->
    <ng-container matColumnDef="dateUploaded">
      <th mat-header-cell *matHeaderCellDef class="name-header" > Date/Time </th>
      <td mat-cell *matCellDef="let element" > {{ element.dateUploaded | date:'medium' }} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="name-header"> Action </th>
      <td mat-cell *matCellDef="let element" >
        <!-- Add a button to trigger the redirectToDetail function -->
        <button mat-raised-button class="btn btn-info" (click)="redirectToDetail(element.publicId)">View
          </button>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
</div>