<div class="row col-md-12 mt-1">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Date/Time</th>
        <th  *appHasRole="['SuperAdmin', 'Admin']">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let documentation of paginatedList" 
                          (click)="redirectToDetail(documentation.publicId)" 
                          (mouseenter)="onRowMouseEnter($event)"
                          (mouseleave)="onRowMouseLeave($event)">
        <td>{{ documentation.publicId }}</td>
        <td>{{ caps(documentation.title) }}</td>
        <td>{{ documentation.addedDateTime | date:'medium' }}</td>
        <td  *appHasRole="['SuperAdmin', 'Admin']"><button class="btn btn-info"  routerLink="">Edit</button></td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span> Page {{ currentPage }} of {{ totalPages }} </span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>
