<div class="container custom-bg">

  <form  (ngSubmit)="onSubmit()" #profileForm="ngForm" class="row g-3 ">
       <fieldset>

        <div class="mb-3">
          <div class="col-md-4">
            <label for="profilepic" class="form-label mt-4">Profile Picture</label>
            <input type="file" multipleid="profilePicture" name="profilePicture" 
            (change)="onFileSelected($event)" class="form-control" id="profilepic">
          </div>
        </div>
        
        <Legend [ngStyle]="{ 'text-align': 'center' }">Information</Legend>
      
      
  <div class="form-group mb-3">
  <div class="row">
    <div class="col-md-4">
      <label for="firstName" class="form-label mt-4">First Name</label>
      <input type="text" id="firstName" name="firstName" [(ngModel)]="ipUser.firstName" class="form-control" required>
    </div>

    <div class="col-md-4">
      <label for="middleName" class="form-label mt-4">Middle Name</label>
      <input type="text" id="middleName" name="middleName" [(ngModel)]="ipUser.middleName" class="form-control" required>
    </div>

    <div class="col-md-4">
      <label for="lastName" class="form-label mt-4">Last Name</label>
      <input type="text" id="lastName" name="lastName" [(ngModel)]="ipUser.lastName" class="form-control" required>
    </div>
  </div>
</div>

        
        
<div class="row">
  <div class="col-md-4 mb-3">
    <div class="form-group">
      <label for="gender" class="form-label mt-4">Gender</label>
      <select id="gender" name="gender" [(ngModel)]="ipUser.gender" class="form-select" aria-label="Default select example" required>
        <option value="" disabled selected>Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="form-group">
      <label for="status" class="form-label mt-4">Status</label>
      <select id="status" name="status" [(ngModel)]="ipUser.status" class="form-select" aria-label="Default select example" required>
        <option value="" disabled selected>Select Status</option>
        <option value="single">Single</option>
        <option value="married">Married</option>
        <option value="widow">Widow</option>
      </select>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="form-group">
      <label for="tribe" class="form-label mt-4">Tribe</label>
      <select id="tribe" name="tribe" [(ngModel)]="ipUser.tribe" class="form-select" aria-label="Default select example" required>
        <option value="" disabled selected>Select Tribe</option>
        <option value="Ata">Ata</option>
        <option value="baloy">Baloy</option>
      </select>
    </div>
  </div>
</div>
<hr>
      
        <Legend [ngStyle]="{ 'text-align': 'center' }">Contact</Legend>
      
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="form-group">
              <label for="phoneNum" class="form-label mt-4">Phone Number</label>
              <input type="text" id="phoneNum" name="phoneNum" [(ngModel)]="ipUser.phoneNum" class="form-control" required>
            </div>
          </div>
        
          <div class="col-md-4 mb-3">
            <div class="form-group">
              <label for="Email" class="form-label mt-4">Email</label>
              <input type="text" id="email" name="email" [(ngModel)]="ipUser.email" class="form-control" required>
            </div>
          </div>
        
          <div class="col-md-4 mb-3">
            <div class="form-group">
              <label for="facebook" class="form-label mt-4">Facebook</label>
              <input type="text" id="facebook" name="facebook" [(ngModel)]="ipUser.facebook" class="form-control">
            </div>
          </div>
        </div>
        <hr>
      
        <legend [ngStyle]="{ 'text-align': 'center' }">Address</legend>
      
      
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="form-group">
              <label for="street" class="form-label mt-4">Street</label>
              <input type="text" id="street" name="street" [(ngModel)]="ipUser.street" class="form-control" required>
            </div>
          </div>
        
          <div class="col-md-4 mb-3">
            <div class="form-group">
              <label for="barangay" class="form-label mt-4">Barangay</label>
              <input type="text" id="barangay" name="barangay" [(ngModel)]="ipUser.barangay" class="form-control" required>
            </div>
          </div>
        
          <div class="col-md-4 mb-3">
            <div class="form-group">
              <label for="City" class="form-label mt-4">City</label>
              <input type="text" id="city" name="city" [(ngModel)]="ipUser.city" class="form-control" required>
            </div>
          </div>
        </div>
        <hr>
      
        <Legend [ngStyle]="{ 'text-align': 'center' }">Church</Legend>
      
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="form-group">
              <label for="church" class="form-label mt-4">Church Name</label>
              <input type="text" id="church" name="church" [(ngModel)]="ipUser.churchName" class="form-control" required>
            </div>
          </div>
        
          <div class="col-md-4 mb-3">
            <div class="form-group">
              <label for="ministry" class="form-label mt-4">Ministry</label>
              <textarea id="ministry" name="ministry" [(ngModel)]="ipUser.ministry" class="form-control" placeholder="Ministry" required></textarea>
            </div>
          </div>
        
          <div class="col-md-4 mb-3">
            <div class="form-group">
              <label for="reason" class="form-label mt-4">Reason</label>
              <textarea id="reason" name="reason" [(ngModel)]="ipUser.reason" class="form-control" placeholder="Reason" required></textarea>
            </div>
          </div>
        </div>
        
      </fieldset>
      <fieldset>
        <hr>
        <div class="form-group align-right">
        
            <button class="btn btn-success btn-lg ml-2" type="submit" [disabled]="!profileForm.valid">
              Submit
            </button>
            <button class="btn btn-info btn-lg ml-2" type="submit" [disabled]="!profileForm.valid">
              Cancel
            </button>
        </div>
        
        
        
        
    </fieldset>
   </form>

  </div>