<div class="alert alert-dismissible alert-primary" *ngIf="errorMessage">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>Oh snap!</strong> <p>{{ errorMessage }}</p> 
</div>

<div class="alert alert-dismissible alert-success" *ngIf="successMessage">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>Congrats!</strong> <p>{{ successMessage }}</p> 
</div>
<!-- change-password.component.html -->
<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" autocomplete="off">

  <div class="col-md-8 mb-3">
    <label for="currentPassword" class="form-label">Current Password</label>
    <app-text-input 
      type="password" 
      formControlName="currentPassword"
      [label]="'Current Password'"
      id="currentPassword"
    ></app-text-input>
  </div>

  <div class="col-md-8 mb-3">
    <label for="newPassword" class="form-label">New Password</label>
    <app-text-input 
      type="password" 
      formControlName="newPassword"
      [label]="'New Password'"
      id="newPassword"
    ></app-text-input>
  </div>

  <div class="col-md-8 mb-3">
    <label for="confirmPassword" class="form-label">Confirm Password</label>
    <app-text-input 
      type="password" 
      formControlName="confirmPassword"
      [label]="'Confirm Password'"
      id="newPassword"
    ></app-text-input>
  </div>

  <div class="text-center col-md-8">
    <button class="btn btn-success me-2" type="submit">Change Password</button>
  </div>
</form>




<!-- <form [formGroup]="updatePass" autocomplete="off">
  <div class="col-md-4 mb-3">
    <app-text-input [formControl]="updatePass.get('currentPassword')" [label]="'Current Password'"></app-text-input>
  </div> 
    
  <div class="col-md-4 mb-3">
    <app-text-input [formControl]="updatePass.get('newPassword')" [label]="'New Password'"></app-text-input>
  </div> 
    
  <div class="col-md-4 mb-3">
    <app-text-input [formControl]="updatePass.get('confirmPassword')" [label]="'Confirm Password'"></app-text-input>
  </div> 

  <button type="button" class="btn btn-primary" (click)="changePassword()">Change Password</button>
</form> -->
