.table-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 600px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 8px;
}

.table th {
  background-color: #f5f5f5;
}

.table th, .table td {
  text-align: left;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #e0e0e0;
}


th {
  position: sticky;
  top: 0;
  background-color: #f5f5f5; /* Ito ay opsyonal, ito ay upang bigyan ng kulay ang header */
}

th:nth-child(2), td:nth-child(2) {
  position: sticky;
  left: 0;
  background-color: #f5f5f5; /* Ito ay opsyonal, ito ay upang bigyan ng kulay ang header */
}

.error-message {
  color: red;
}

.drop-zone {
  border: 2px dashed #cccccc;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  cursor: pointer;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #3498db; /* Kulay ng background */
  color: #fff; /* Kulay ng text */
  border-radius: 4px; /* Porma ng border */
  transition: background-color 0.3s; /* Animasyon sa hover effect */
  font-size: 20px;
}

.custom-file-upload:hover {
  background-color: #2980b9; /* Kulay ng background kapag naka-hover */
}

.custom-file-upload input[type="file"] {
  display: none;
}

.custom-file-upload i.bi {
  font-size: 24px; /* I-adjust ang laki ng icon */
}

.center-element {
  text-align: center; /* I-center ang elemento */
}

.card {
  width: 300px; /* Ilagay ang tamang sukat na nais mo */
}