<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="['/home']" >Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="['/sap-panel']" >Sap</a></li>
  <li class="breadcrumb-item active">Details</li>
</ol>

<div class="row" *ngIf="sapProfile">
  <div class="col-md-4">
    <div class="card">   
             <div class="card-body">


                 <div>
                      <strong>ID:</strong>
                      <p>{{sapProfile?.publicId}}</p>
                 </div>  
                 <div>
                      <strong>Name:</strong>
                      <p>{{caps(sapProfile?.firstname)}} {{caps(sapProfile?.middlename)}} {{caps(sapProfile?.lastname)}} {{caps(sapProfile?.suffix)}}</p>
                </div>  

                 <div>
                      <strong>Age:</strong>
                      <p>{{sapProfile?.age}}</p>
                </div>  
      
                <div>
                  <strong>Birthday:</strong>
                  <p>{{ getFormattedDate(sapProfile?.dateOfBirth) }}</p>
                </div>
                
                <div>
                  <strong>Gender:</strong>
                  <p>{{caps(sapProfile?.gender)}}</p>
                </div>
                <div>
                  <strong>Birth Place:</strong>
                  <p>{{caps(sapProfile?.birthPlaceCity)}}</p>
                </div>
                <div>
                  <strong>Tribe:</strong>
                  <p>{{caps(sapProfile?.tribe)}}</p>
                </div>
                <div>
                      <strong>Address:</strong>
                      <p>{{caps(sapProfile?.street)}} {{caps(sapProfile?.birthPlaceBrgy)}}, {{caps(sapProfile?.city)}}</p>
                </div>
                
                <div>
                  <strong>Church Name:</strong>
                  <p>{{sapProfile?.churchName}}</p>
                </div>
              
              
              </div>

                <div class="card-footer">
                  <div class="btn-group d-flex">
    
                      <button class="btn btn-success" (click)="redirectToDetail(sapProfile.publicId)">Edit</button>
    
                  </div>
                </div>
           
    </div>
  </div>

  <div class="col-md-8">
      <tabset class="member-tabset">
        <tab heading="About {{sapProfile?.lastname ? caps(sapProfile?.lastname) : ''}}">
            <h4>Family Details</h4>
            <p>Father Name: {{caps(sapProfile?.fatherName)}}</p>
            <p>Mother Name: {{caps(sapProfile?.motherName)}}</p>
            <p>Occupation: {{caps(sapProfile?.parentOccupation)}}</p>
            <p>Number of Sibling: {{sapProfile?.numberOfSibling}}</p>
            <h4>School:</h4>
            <p>Name of School: {{caps(sapProfile?.schoolName)}}</p>
            <p>School Level: {{caps(sapProfile?.gradeLevel)}}</p>
            <p>Year Sap Started: {{sapProfile?.yearSapStarted}}</p>
        </tab> 
        <tab heading="Others">
          <h4>Others:</h4>
          <p>Community Involvement: {{caps(sapProfile?.communityInvolvement)}}</p>
          <p>Talent: {{caps(sapProfile?.talent)}}</p>
          <p>Sports: {{caps(sapProfile?.sport)}}</p>
          <p>Ambition: {{caps(sapProfile?.ambition)}}</p>
          <p>Motto: {{caps(sapProfile?.motto)}}</p>
        </tab>
      </tabset>
  </div>
