<nav id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 " [ngClass]="{ 'd-none': !sideBarOpen }">
 
  

  <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="(accountService.currentUser$ | async) as user">
    <strong class="title">Welcome {{user.username | titlecase}}</strong>
    <hr>
    <ng-container *ngIf="!(accountService.currentUser$ | async) ">
    <li class="nav-item">
      <a class="nav-link active"  routerLink="/members" routerLinkActive="active">Mission</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active"  routerLink="/members" routerLinkActive="active">Visios</a>
    </li>
  </ng-container>

    <ng-container  >
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/list" routerLinkActive="active">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/ip-profiling" routerLinkActive="active">Ip Profiling</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/sap-profiling" routerLinkActive="active">SAP Profiling</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/documentation" routerLinkActive="active">Media Uploader</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/integration" routerLinkActive="active">Excel Integration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/course" routerLinkActive="active">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/subject" routerLinkActive="active">Subject</a>
        </li>

        
        <ng-container *appHasRole="['SuperAdmin', 'Admin' ]">
          <hr>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  routerLink="/members" routerLinkActive="active">Members</a>
          </li>
        </ng-container>
     
        
  </ng-container>
  </ul > 


  
<!-- <div class=""> 
  <hr>
  <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
    <img src="{{user.photoUrl || './assets/user.png'}}" alt="user photo" style="margin: 0; padding: 0; max-height: 40px; max-width: 40px; border: 2px solid white; border-radius: 50%;">
    <a class="dropdown-toggle text-light text-decoration-none ms-2" dropdownToggle style="margin: 0; padding: 0;"><strong> {{user.username | titlecase}} </strong></a>
    <div class="dropdown-menu mt-3 " *dropdownMenu>
      <a class="dropdown-item" routerLink="/member/edit"> Edit Profile</a>
      <a class="dropdown-item" (click)="logout()"> Logout</a>
    </div>
  </div>
</div>
  
</nav>

<!-- <mat-nav-list>
  <strong class="title" *ngIf="(accountService.currentUser$ | async) as user">Welcome {{user.username | titlecase}}</strong>
  
  
  <a mat-list-item routerLink="/members" routerLinkActive="active">
    <mat-icon>person</mat-icon> Mission
  </a>
  
  <a mat-list-item routerLink="/members" routerLinkActive="active">
    <mat-icon>visibility</mat-icon> Vision
  </a>

  <a mat-list-item routerLink="/list" routerLinkActive="active">
    <mat-icon>list</mat-icon> Lists
  </a>

  <a mat-list-item routerLink="/ip-profiling" routerLinkActive="active">
    <mat-icon>dns</mat-icon> IP Profiling
  </a>

  <a mat-list-item routerLink="/sap-profiling" routerLinkActive="active">
    <mat-icon>bar_chart</mat-icon> SAP Profiling
  </a>

  <a mat-list-item routerLink="/documentation" routerLinkActive="active">
    <mat-icon>attach_file</mat-icon> Media Uploader
  </a>

  <a mat-list-item routerLink="/integration" routerLinkActive="active">
    <mat-icon>attach_file</mat-icon> Excel Integration
  </a>

  <ng-container *appHasRole="['SuperAdmin', 'Admin']">
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/admin" routerLinkActive="active">
      <mat-icon>security</mat-icon> Admin
    </a>

    <a mat-list-item routerLink="/members" routerLinkActive="active">
      <mat-icon>people</mat-icon> Members
    </a>
  </ng-container>
  
  <mat-divider></mat-divider>

  <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
    <img src="{{user.photoUrl || './assets/user.png'}}" alt="user photo" class="avatar">
    <a class="dropdown-toggle text-light text-decoration-none ms-2" dropdownToggle><strong>{{user.username | titlecase}}</strong></a>
    <div class="dropdown-menu mt-3" *dropdownMenu>
      <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
      <a class="dropdown-item" (click)="logout()">Logout</a>
    </div>
  </div>
</mat-nav-list> -->
