<nav id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 " [ngClass]="{ 'd-none': !sideBarOpen }">
 
  

  <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="(accountService.currentUser$ | async) as user">
    <strong class="title">Welcome {{user.username | titlecase}}</strong>
    <hr>
    <ng-container *ngIf="!(accountService.currentUser$ | async) ">
    <li class="nav-item">
      <a class="nav-link active"  routerLink="/members" routerLinkActive="active">Mission</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active"  routerLink="/members" routerLinkActive="active">Visios</a>
    </li>
  </ng-container>

    <ng-container  >
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/list" routerLinkActive="active">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/profiling" routerLinkActive="active">Profiling</a>
        </li>

        
        <ng-container *appHasRole="['SuperAdmin', 'Admin' ]">
          <hr>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  routerLink="/members" routerLinkActive="active">Members</a>
          </li>
        </ng-container>
     
        
  </ng-container>
  </ul >


  
<div class=""> <!-- Use mt-auto to push the dropdown to the bottom -->
  <hr>
  <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
    <img src="{{user.photoUrl || './assets/user.png'}}" alt="user photo" style="margin: 0; padding: 0; max-height: 40px; max-width: 40px; border: 2px solid white; border-radius: 50%;">
    <a class="dropdown-toggle text-light text-decoration-none ms-2" dropdownToggle style="margin: 0; padding: 0;"><strong> {{user.username | titlecase}} </strong></a>
    <div class="dropdown-menu mt-3 " *dropdownMenu>
      <a class="dropdown-item" routerLink="/member/edit"> Edit Profile</a>
      <a class="dropdown-item" (click)="logout()"> Logout</a>
    </div>
  </div>
</div>
  
</nav>