
<ngx-spinner><p style="color: white" > Loading... </p></ngx-spinner>


<app-header (toggleSidebar)="sideBarToggler()"></app-header>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-lg-2 col-xl-2 p-0">
      <app-sidenav [sideBarOpen]="sideBarOpen"></app-sidenav>
    </div>
    <div class="col-md-12 col-lg-12 col-xl-12 p-0" >
      <app-heroes *ngIf="!(accountService.currentUser$ | async)"></app-heroes>
      <div class="container content" style="margin-top: 100px;">
        <router-outlet *ngIf="accountService.currentUser$ | async"></router-outlet>
      </div>
    </div>
  </div>
</div>