<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="['/excel-panel']">Report</a></li>
  <li class="breadcrumb-item active">Details</li>
</ol>

<div *ngIf="excelDatas" class="card p-3 shadow mb-3">
  <div class="card-header">
    <h2>Report Details</h2>
  </div>

  <div class="card-body shadow">
    <div class="col-md-4">
      <label class="form-label mt-2" for="publicId"><strong>Public ID</strong></label>
      <input class="form-control" id="publicId" type="text" [attr.readonly]="true" [value]="excelDatas?.publicId">
    </div>

    <div class="col-md-4">
      <label class="form-label mt-2" for="title"><strong>Title</strong></label>
      <input class="form-control" id="title" type="text" [attr.readonly]="true" [value]="caps(excelDatas?.title)">
    </div>

    <div class="row">
      <div class="col-md-4 mb-3">
        <label class="form-label mt-2" for="from"><strong>From:</strong></label>
        <input class="form-control" id="from" type="text" [attr.readonly]="true"
          [value]="excelDatas?.dateFrom | date:'medium'">
      </div>

      <div class="col-md-4 mb-3">
        <label class="form-label mt-2" for="to"><strong>To:</strong></label>
        <input class="form-control" id="to" type="text" [attr.readonly]="true"
          [value]="excelDatas?.dateTo | date:'medium'">
      </div>
    </div>


    <div class="col-md-4 mb-3">
      <label class="form-label mt-2" for="dateUploaded"><strong>Date & Time Uploaded</strong></label>
      <input class="form-control" id="dateUploaded" type="text" [attr.readonly]="true"
        [value]="excelDatas?.dateUploaded | date:'medium'">
    </div>


  </div>
</div>

<div class="card p-3 shadow mb-3">

  <li *ngFor="let file of excelDatas?.excelFiles" class="list-group-item mb-3">
    <button (click)="downloadFile(file.url, file.publicId)" class="btn btn-primary">Download File</button>
  </li>

  <!-- <li *ngFor="let file of excelDatas?.excelFiles" class="list-group-item mb-3">
    <iframe [src]="getViewerUrl(file.url, file.publicId)" width="100%" height="600px"></iframe>
  </li> -->

  <!-- <ngx-doc-viewer *ngFor="let file of excelDatas?.excelFiles" [src]="getExcelFiles(file.publicId)" [type]="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"></ngx-doc-viewer> -->


  <!-- <ngx-doc-viewer [src]="excelFileUrl" [type]="'excel'"></ngx-doc-viewer> -->

  <div *ngIf="show == true">
    <button *ngFor="let file of excelDatas?.excelFiles" class="btn btn-info col-md-2"
      (click)="getExcelFiles(file.publicId)">View</button>
  </div>


  <!-- Add this inside your template -->
  <!-- <div>
    <label for="sheetSelect">Select Sheet:</label>
    <select id="sheetSelect" [(ngModel)]="selectedSheet">
      <option *ngFor="let sheetName of sheetNames" [value]="sheetName">{{ sheetName }}</option>
    </select>
  </div> -->


  <!-- <div *ngFor="let sheetName of sheetNames">

    <div *ngIf="selectedSheet === sheetName">
      <h2>{{ sheetName }}</h2>
  
      <table *ngIf="jsonData && jsonData[sheetName]">
        <thead>
          <tr>
            <th *ngFor="let header of jsonData[sheetName][0]">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of jsonData[sheetName].slice(1)">
            <td *ngFor="let cell of row">{{ cell }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
  
  <!-- Assuming jsonData is an array of arrays -->
  <div>
    <label for="sheetSelect">Select Sheet:</label>
    <select id="sheetSelect" [(ngModel)]="selectedSheet">
      <option *ngFor="let sheetName of sheetNames" [value]="sheetName">{{ sheetName }}</option>
    </select>
  </div>
  
  <!-- Assuming jsonData is a Map<string, any[]> -->
  <div *ngIf="selectedSheet && jsonData.has(selectedSheet)" class="table-container">
    <table class="table" border="1">
      <thead>
        <tr>
          <!-- Access the headers for the selected sheet -->
          <th *ngFor="let header of jsonData.get(selectedSheet)[0]">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of jsonData.get(selectedSheet).slice(1)">
          <td *ngFor="let cell of row">{{ cell }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  


  <!-- <li *ngFor="let file of excelDatas?.excelFiles" class="list-group-item mb-3">
    <button (click)="downloadFile(file.url, file.publicId)" class="btn btn-primary">Download File</button>
  </li>

  <div class="col-md-4 mb-3" *ngIf="show == false">
    <select [(ngModel)]="selectedSheet" class="form-select">
      <option *ngFor="let sheet of sheetNames" [value]="sheet">{{ sheet }}</option>
    </select>
  </div>

  <div *ngIf="selectedSheet" class="table-container">
    <table class="table" border="1">
      <thead>
        <tr>
          <th>Row Number</th>
          <th *ngFor="let column of excelDataMap[selectedSheet][0]?.columnData | keyvalue">{{ column.key }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of excelDataMap[selectedSheet]">
          <td>{{ row.rowNumber }}</td>
          <td *ngFor="let cell of row.columnData | keyvalue">{{ cell.value }}</td>
        </tr>
      </tbody>
    </table>
  </div>  -->


</div>





<!-- <div *ngIf="excelDatas && excelDatas.excelDataRowList">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let column of excelDatas.excelDataRowList[0].columnData | keyvalue">{{ column.key }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of excelDatas.excelDataRowList">
        <td *ngFor="let cell of row.columnData | keyvalue">{{ cell.value }}</td>
      </tr>
    </tbody>
  </table>
</div> -->