<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="['/home']" >Home</a></li>
  <li class="breadcrumb-item active">SAP</li>
</ol>

<h2>SAP Panel</h2>
<div class="tab-panel">
  <tabset class="member-tabset">
    <tab heading="Add Sap Profile" *appHasRole="['Member']">
      <div class="container">
          <app-sap-profile-register></app-sap-profile-register>
      </div>
    </tab>
    <tab heading="Sap list" *appHasRole="['Member']">
      <div class="container">
          <app-sap-list></app-sap-list>
      </div>
    </tab>
    
  </tabset>
</div>