<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Register New Account</h2>
    <hr>
 
    <!-- <div class="mb-3">
      <div class="col-md-12">
        <select id="gender" formControlName="gender" class="form-select">
          <option value="" disabled selected>Select Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <div class="invalid-feedback" *ngIf="registerForm.get('gender').errors?.['required'] && registerForm.get('gender').touched">
          Please select a gender
        </div>
      </div>
    </div>
     -->
     <div class="row justify-content-center"> <!-- Added a row with center alignment -->
      <div class="col-md-4 mb-3 max-auto">
        <label for="username">Username</label>
        <app-text-input [formControl]="$any(registerForm.controls['username'])" 
                        [label]="'Username'" id="username">
        </app-text-input>
      
     
        <label for="knownAs">Known As</label>
        <app-text-input [formControl]="$any(registerForm.controls['knownAs'])" 
                        [label]="'Known As'" id="knownAs">
        </app-text-input>
      </div>
    </div>
    
    <div class="row justify-content-center"> <!-- Center alignment for the error messages -->
      <div class="col-md-6"> <!-- Adjusted the column size -->
        <div class="row" *ngIf="validationErrors">
          <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
              {{error}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="row justify-content-center"> <!-- Center alignment for the button -->
      <div class="col-md-6 text-center">
        <button class="btn btn-success" type="submit">Register</button>
      </div>
    </div>
    

</form>

<!-- <p>Value: {{registerForm.value | json}}</p>
<p>status: {{registerForm.status | json}}</p> -->