<div class="row col-md-12">
  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Tribe</th>
        <th>City</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ipProfile of ipProfile" (click)="redirectToDetail(ipProfile.id)">
        <td>{{ caps(ipProfile.firstname) }}</td>
        <td>{{ caps(ipProfile.lastname) }}</td>
        <td>{{ ipProfile.age }}</td>
        <td>{{ caps(ipProfile.gender) }}</td>
        <td>{{ caps(ipProfile.tribe) }}</td>
        <td>{{ caps(ipProfile.city) }}</td>
        <td><button class="btn btn-info"  routerLink="">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
