

<form [formGroup]="ipForm" autocomplete="off" id="top">

  <div class="alert alert-dismissible alert-success" *ngIf="successMessage && !ipForm.dirty" #successAlert>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Well done!</strong> <p>{{ successMessage }}</p>
  </div>
  

  <div class="modal fade border-info" id="confirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><strong>Oh snap!</strong></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{ confirmationMessage }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning me-2" (click)="proceedRegister()">Yes</button>
          <button type="button" class="btn btn-info me-2"(click)="modalHide()">No</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade border-info" id="proceedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><strong>Heads up!</strong></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to save IP?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success me-2" (click)="registerIp()">Yes</button>
          <button type="button" class="btn btn-danger me-2"(click)="modalHide()">No</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="formGroup">

    <legend>Information</legend>
    <hr>

    <div class="row">
      <div class="col-md-4 mb-3">
          <app-text-input [formControl]="$any(ipForm.controls['firstname'])" 
                  [label]="'First Name'">
          </app-text-input>
      </div>
      <div class="col-md-4 mb-3">
          <app-text-input [formControl]="$any(ipForm.controls['middlename'])" 
                  [label]="'Middile Name'">
          </app-text-input>
      </div>
      <div class="col-md-4 mb-3">
          <app-text-input [formControl]="$any(ipForm.controls['lastname'])" 
                  [label]="'Last Name'">
          </app-text-input>
      </div>
      <div class="col-md-4 mb-3">
          <app-text-input [formControl]="$any(ipForm.controls['suffix'])" 
                  [label]="'Suffix'">
         </app-text-input>
    </div>
    </div>
  

<div class="row">
  <div class="col-md-4 mb-3">
  <app-date-picker [formControl]="$any(ipForm.controls['dateOfBirth'])" 
                  [label]="'Date of Birth'" [maxDate]="maxDate">
  </app-date-picker>
</div>

    <div class="col-md-4 mb-3">
      <select id="gender" formControlName="gender" class="form-select">
        <option value="" disabled selected>Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
      <div class="invalid-feedback" *ngIf="ipForm.get('gender')?.errors?.['required'] && ipForm.get('gender').touched">
        Please select a gender
      </div>
    </div>


    <div class="col-md-4 mb-3">
      <select id="status" formControlName="status" class="form-select">
        <option value="" disabled selected>Select status</option>
        <option value="single">Single</option>
        <option value="married">Married</option>
        <option value="widow">Widow</option>
      </select>
      <div class="invalid-feedback" *ngIf="ipForm.get('status').errors?.['required'] && ipForm.get('status').touched">
        Please select a Status
      </div>
    </div>

</div>

<div class="row">
  <div class="col-md-4 mb-3">
        <app-text-input [formControl]="$any(ipForm.controls['tribe'])" 
                  [label]="'Tribe'">
        </app-text-input>
  </div>
</div>


<legend>Contact</legend>
<hr>

<div class="row">
  <div class="col-md-4 mb-3">
        <app-text-input [formControl]="$any(ipForm.controls['phonenum'])" 
                  [label]="'Phone Number'">
        </app-text-input>
  </div>
  <div class="col-md-4 mb-3">
        <app-text-input [formControl]="$any(ipForm.controls['email'])" 
                  [label]="'email'">
        </app-text-input>
  </div>

  <div class="col-md-4 mb-3">
        <app-text-input [formControl]="$any(ipForm.controls['facebook'])" 
                  [label]="'facebook'">
        </app-text-input>
  </div>
</div>


<legend>Location</legend>
<hr>

<div class="row">
  <div class="col-md-4 mb-3">
        <app-text-input [formControl]="$any(ipForm.controls['street'])" 
                  [label]="'street'">
        </app-text-input>
  </div>
  <div class="col-md-4 mb-3">
        <app-text-input [formControl]="$any(ipForm.controls['barangay'])" 
                  [label]="'barangay'">
        </app-text-input>
  </div>
  <div class="col-md-4 mb-3">
        <app-text-input [formControl]="$any(ipForm.controls['city'])" 
                  [label]="'city'">
        </app-text-input>
  </div>
</div>


<legend>Church</legend>
<hr>
  <div class="col-md-4 mb-3">
        <app-text-input [formControl]="$any(ipForm.controls['churchname'])" 
                  [label]="'Church Name'">
        </app-text-input>
  </div>


<div class="col-md-8 mb-3">
  <textarea class="form-control" 
            [formControl]="ipForm.controls['ministry']"
            name="ministry" 
            rows="4"
            placeholder="Enter Ministry"></textarea>
</div>

<div class="col-md-8 mb-3">
  <textarea class="form-control" 
            [formControl]="ipForm.controls['reason']"
            name="reason" 
            rows="4"
            placeholder="Enter Reason"></textarea>
</div>

<div class="row" *ngIf="validationErrors">
  <ul class="text-danger">
    <li *ngFor="let error of validationErrors">
      {{ error }}
    </li>
  </ul>
</div>

  <div class="text-center" *appHasRole="['SuperAdmin', 'Admin']">
    <button class="btn btn-success me-2" data-bs-toggle="modal" data-bs-target="#proceedModal">submit</button>
    <!-- <button class="btn btn-default" type="button" (click)="cancel()">cancel</button> -->
  </div>
</div>
</form>