<div class="row col-md-12 table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Subject Code</th>
        <th>Name</th>
        <th>Phase</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subject of subject">
        <td>{{ caps(subject.subjectCode) }}</td>
        <td>{{ subject.name }} </td>
        <td>{{ subject.phase }} </td>
        <td><button class="btn btn-info">Edit</button></td>
        <td><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#proceedModal"
          (click)="deleteClick(subject.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade border-info" id="proceedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><strong>Heads up!</strong></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to Delete Course?</p>
      </div>
      <div class="modal-footer" *ngIf="subject">
        <button type="button" class="btn btn-success me-2" (click)="deleteSubject(subject.id)">Yes</button>
        <button type="button" class="btn btn-danger me-2"(click)="modalHide()">No</button>
      </div>
    </div>
  </div>
</div>
