<ol class="breadcrumb" *ngIf="subject">
  <li class="breadcrumb-item"><a [routerLink]="['/home']" >Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="['/subject-panel']" >Subject</a></li>
  <li class="breadcrumb-item"><a [routerLink]="['/']" (click)="redirectToDetail(subject.id)">Details</a></li>
  <li class="breadcrumb-item active">Edit</li>
</ol>

<div class="row" *ngIf="subject">
  <div class="col-md-4">
    <h1>Update Subject</h1>
  </div>
  <!-- Alert messages -->
  <div class="col-md-8">
    <div class="alert alert-dismissible alert-info" *ngIf="editForm.dirty">
      <p><strong>Information: </strong>Your have made changes. Any unsaved changes will be lost</p>
    </div>
    <div class="alert alert-dismissible alert-success" *ngIf="successMessage && !editForm.dirty" #successAlert>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <strong>Well done!</strong>
      <p>{{ successMessage }}</p>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade border-info" id="proceedModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><strong>Heads up!</strong></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to save?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success me-2" (click)="updateSubject()">Yes</button>
          <button type="button" class="btn btn-danger me-2" (click)="modalHide()">No</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Course Details -->
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-body">
        <div>
          <strong>Subject Code:</strong>
          <p>{{ subject.subjectCode }}</p>
        </div>
        <div>
          <strong>Name:</strong>
          <p> {{ subject.name }}</p>
        </div>
        <div>
          <strong>Description:</strong>
          <p>{{ subject.description }} </p>
        </div>
        <div>
          <strong>Phase: </strong>
          <p> {{ getPhaseName(subject.phase) }} </p>
        </div>

      </div>

      <div class="card-footer">
        <button data-bs-toggle="modal" data-bs-target="#proceedModal" [disabled]="!editForm.dirty" form="editForm"
          class="btn btn-success col-md-6"> Save changes</button>
      </div>
    </div>
  </div>

  <!-- Update Form -->
  <div class="col-md-8">
    <tabset class="member-tabset">
      <form #editForm="ngForm" id="editForm">
        <tab heading="Update {{subject.name}}">
          <div class="card shadow mb-3">
            <div class="card-body">
              <h4 class="mt-2">Subject</h4>
              <div class="col-md-6 mb-5">

                <label for="subjectCode">Subject Code:</label>
                <input type="text" [(ngModel)]="subject.subjectCode" name="subjectCode" id="subjectCode"
                  class="form-control mb-3">

                <label for="name">Name:</label>
                <input type="text" [(ngModel)]="subject.name" name="name" id="name" class="form-control mb-3">

                <label for="description">Description: </label>
                <input type="text" [(ngModel)]="subject.description" name="description" id="description"
                  class="form-control mb-3">

                  <label for="phase">Phase:</label>
                  <select class="form-control" [(ngModel)]="subject.phase" name="phase">
                    <option *ngFor="let phase of phases" [value]="phase">{{ getPhaseName(phase) }}</option>
                  </select>
              </div>
            </div>
          </div>
        </tab>
      </form>
    </tabset>
  </div>
</div>