<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="['/home']" >Home</a></li>
  <li class="breadcrumb-item active">IP</li>
</ol>
<h2>IP Panel</h2>
<div class="tab-panel">
  <tabset class="member-tabset">
    <tab heading="Add Ip Profile" *appHasRole="['SuperAdmin', 'Admin']">
      <app-ip-profile></app-ip-profile>
    </tab>
    <tab heading="Ip List" *appHasRole="['Member']">
           <div class="container">
               <app-ip-list></app-ip-list>
           </div>
    </tab>

    
  </tabset>
</div>