  <button 
          type="button" 
          class="btn btn-primary btn-lg px-4" 
          data-bs-toggle="modal" 
          data-bs-target="#loginModal">Login</button>


 
<div class="modal fade" id="loginModal" tabindex="-3"  aria-hidden="true">
 <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="" (ngSubmit)="login()"          autocomplete="off">
  
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header ">
        <h1 class="modal-title ">Log In</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>


      <div class="modal-body">
        
    
          <div class="form-floating mb-3">
            <input type="email"
                   class="form-control rounded-3" 
                   id="floatingInput" 
                   placeholder="name@example.com"
                   name="username"
                   [(ngModel)]="model.username">
            <label for="floatingInput">Username</label>
          </div>

          <div class="form-floating mb-3">
            <input type="password" 
                    class="form-control rounded-3" 
                    id="floatingPassword" 
                    placeholder="Password"
                    name="password"
                    [(ngModel)]="model.password">
            <label for="floatingPassword">Password</label>
          </div>

          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>

            <hr>
        <button class="btn btn-primary btn-lg " type="submit">Log In</button>
  
    </div>
    </div>
  </div>
</div>  
  </form>
</div>