<div class="row" *ngIf="course">
  <div class="col-md-4 mb-3">
    <div class="card shadow">
      <div class="card-body">

        <div>
          <strong>Title:</strong>
          <p>{{caps(course.title)}} </p>
        </div>
        <div>
          <strong>Description:</strong>
          <p>{{course.description}}</p>
        </div>
        <div>
          <strong>Duration In Hours:</strong>
          <p>{{course.durationInHours}} Hour/s</p>
        </div>
        <div>
          <strong>Tags:</strong>
          <p>{{course.tags}}</p>
        </div>


      </div>

      <div class="card-footer">
        <div class="btn-group d-flex">

          <button class="btn btn-success" (click)="redirectToEdit(course.id)">Edit</button>

          <button class="btn btn-primary" (click)="showAddSubject()" *ngIf="subjectsInCourse.length > 0">Add
            Subjects</button>

        </div>
      </div>

    </div>
  </div>

  <div class="col-md-8">
    <tabset class="member-tabset">
      <tab heading="Subjects">

        <div class="alert alert-dismissible alert-success" *ngIf="successMessage" #successAlert>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          <strong>Well done!</strong>
          <p>{{ successMessage }}</p>
        </div>

        <div class="alert alert-dismissible alert-primary" *ngIf="errorMessage">
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          <strong>Oh snap!</strong>
          <p>{{ errorMessage }}</p>
        </div>

        <div >

          <div *ngIf="subjectsInCourse.length > 0 && show == false">
            <h3>Subjects in Course</h3>
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center"
                *ngFor="let subject of subjectsInCourse">
                {{ subject.name }} -
                <span class="badge bg-primary square-pill">
                  <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal"
                    (click)="getSubjectIdToDelete(subject.id)"><i class="bi bi-trash"></i></button></span>
              </li>
            </ul>
          </div>
          <div *ngIf="subjectsInCourse.length === 0">
            <div class="card shadow">
              <div class="card-body">
                <div class="form-group">
                  <label>Select Subjects:</label>
                  <div *ngFor="let subject of subjects">
                    <label class="form-check-label mb-2">
                      <input type="checkbox" name="selectedSubjects" [value]="subject.id" class="form-check-input"> {{
                      subject.name }}
                    </label>
                  </div>
    
                  <button class="btn btn-success" (click)="addSubjectsToCourse()">Add Subjects</button>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </tab>

      <div *ngIf="subjectsNotInCourse.length > 0">
        <div class="card shadow" *ngIf="show == true">
          <div class="card-body">
            <div class="form-group">
              <label>Select Subjects:</label>
              <div *ngFor="let subject of  subjectsNotInCourse">
                <label class="form-check-label mb-2">
                  <input type="checkbox" name="selectedSubjects" [value]="subject.id" class="form-check-input"> {{
                  subject.name }}
                </label>
              </div>

              <button class="btn btn-success" (click)="addSubjectsToCourse()">Add Subjects</button>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="subjectsNotInCourse.length === 0">
        <div class="card shadow" *ngIf="show == true">
          <div class="card-body">
            <p>All subjects are already in this course.</p>
            <button class="btn btn-info" (click)="back()">Back</button>
          </div>
        </div>

      </div>



      <tab heading="Tren">
        <app-tren></app-tren>
      </tab>
    </tabset>
  </div>


  <div class="modal fade border-info" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabels"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><strong>Heads up!</strong></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to Delete Subject?</p>
        </div>
        <div class="modal-footer" *ngIf="subjects">
          <button type="button" class="btn btn-success me-2"
            (click)="removeSubjectsFromCourse(subjects.id)">Yes</button>
          <button type="button" class="btn btn-danger me-2" (click)="modalHide()">No</button>
        </div>
      </div>
    </div>
  </div>