<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">TMFI</a>

      <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>

        <div class="dropdown" *ngIf="accountService.currentUser$ | async" dropdown >
          <a  class="dropdown-toggle text-light text-decoration-none" dropdownToggle>Welcome User</a>
          <div class="dropdown-menu mt-3" *dropdownMenu>
              <a class="dropdown-item"> Edit Profile</a>
              <a class="dropdown-item"(click)="logout()"> Logout</a>
            </div>
        </div>


    </div>
 
</nav>