.attendance-record {
  transition: background-color 0.3s ease;
}


.flex-container {
  display: flex;
  align-items: center; /* Pagsasama-sama sa gitna */
  justify-content: center; /* Pagsasama-sama sa gitna */
}

.checkbox {
  transform: scale(2);
  margin: 0 8px;
  border: 1px solid #28a745;
  color: white;
  pointer-events: none; /* Gawing "unclickable" ang checkbox */
}


