<ol class="breadcrumb" *ngIf="course">
  <li class="breadcrumb-item"><a [routerLink]="['/home']" >Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="['/course-panel']" >Training</a></li>
  <li class="breadcrumb-item"><a [routerLink]="['/']" (click)="redirectToDetail(course.id)" >Details</a></li>
  <li class="breadcrumb-item active">Attendance</li>
</ol>

<div class="card shadow mt-4 mb-3">
  <div class="card-body">
    <h5 class="card-title">Subject Details</h5>
    <div *ngIf="subject">
      <p class="card-text"><strong>Subject Code:</strong> {{ subject?.subjectCode }}</p>
      <p class="card-text"><strong>Subject Name:</strong> {{ subject?.name }}</p>
      <p class="card-text"><strong>Phase:</strong> {{ getPhaseName(subject?.phase) }}</p>
      <!-- Add more properties as needed -->
    </div>
    <div *ngIf="!subject">
      <p>No subject data available.</p>
    </div>
  </div>
</div>

<div class="alert alert-dismissible alert-success" *ngIf="successMessage" #successAlert>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>Well done!</strong>
  <p>{{ successMessage }}</p>
</div>

<div class="alert alert-dismissible alert-primary" *ngIf="errorMessage">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>Oh snap!</strong>
  <p>{{ errorMessage }}</p>
</div>

<div class="card shadow mb-3" *ngIf="addAttendance == false">
  <div class="card-body">
    <h5 class="card-title">Students</h5>
    <button  *appHasRole="['SuperAdmin', 'Admin']" class="btn btn-info mb-3" (click)="showAddAttendance()" [disabled]="!canCreateAttendance">Create
      Attendance</button>
    <div class="row col-md-12 table-responsive">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th style="width: 5%;">Id</th>
            <th style="width: 50%;">Name</th>
            <th style="width: 12%;" *ngFor="let record of groupedAttendanceRecords">
              {{ getFormattedDate(record.date) }}
              <div  *appHasRole="['SuperAdmin', 'Admin']">
              <button class="btn btn-sm btn-danger" *ngIf="isEditable(record)" (click)="clickToDelete()">
                Delete Attendance
              </button>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of studentsInCourse">
            <td>{{ student?.publicId }}</td>
            <td>{{ caps(student?.firstname) }} {{ caps(student?.middlename) }} {{ caps(student?.lastname) }} {{
              caps(student?.suffix) }}</td>
            <td *ngFor="let record of groupedAttendanceRecords">
              <!-- Assuming student attendance records are ordered by date -->
              <div *ngFor="let attendance of record.attendanceRecords">
                <div *ngIf="attendance.studentId === student.id" class="attendance-record mb-1">
                  <div class="flex-container">
                    <input type="checkbox" [checked]="attendance.status === 'present'" class="checkbox"
                      [style.background-color]="attendance.status === 'present' ? '#28a745' : '#ffa500'" />
                    <input *ngIf="isEditable(record) && show == true" type="checkbox" [checked]="isSelected(attendance.attendanceID)" class="checkbox"
                      (change)="toggleSelection(attendance.attendanceID)" />
                    <div class="attendance-buttons"  *appHasRole="['SuperAdmin', 'Admin']">
                      &nbsp;
                      <button class="btn btn-sm btn-info" *ngIf=" isEditable(record)"
                        (click)="clickEditAttendance(attendance.attendanceID, attendance.status)">
                        <i class="bi bi-pencil"></i>
                      </button>
                      <!-- <button class="btn btn-sm btn-danger" *ngIf=" isEditable(record)"
                        (click)="clickToDelete(attendance.attendanceID)">
                        <i class="bi bi-trash"></i>
                      </button> -->
                    </div>
                  </div>
                </div>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>

    </div>

  </div>
</div>


<div class="card shadow" *ngIf="addAttendance == true">
  <div class="card-body">
    <h5 class="card-title">Students</h5>
    <div>
      <div class="row col-md-12 table-responsive">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th style="width: 5%;">Id</th>
              <th style="width: 50%;">Name</th>
              <th style="width: 20%;"> {{ currentDate | date:'medium' }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of studentsInCourse">
              <td>{{ student?.publicId }}</td>
              <td>{{ caps(student?.firstname) }} {{ caps(student?.middlename) }} {{ caps(student?.lastname) }} {{
                caps(student?.suffix) }}</td>
              <td>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="attendance{{ student?.id }}"
                    id="present{{ student?.id }}" value="present" (change)="markAttendance(student?.id, 'present')" />
                  <label class="form-check-label" for="present{{ student?.id }}">Present</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="attendance{{ student?.id }}"
                    id="absent{{ student?.id }}" value="absent" (change)="markAttendance(student?.id, 'absent')" />
                  <label class="form-check-label" for="absent{{ student?.id }}">Absent</label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="validationError" class="alert alert-danger">
      Please select attendance for all students.
    </div>
    <button class="btn btn-success mt-3" (click)="submitAttendance()">Submit Attendance</button>
    &nbsp;
    <button class="btn btn-secondary mt-3" (click)="cancel()">Cancel</button>
  </div>
</div>


<div class="modal fade" id="editAttendanceModal" tabindex="-1" role="dialog" aria-labelledby="editAttendanceModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editAttendanceModalLabel">Edit Attendance</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="statusToEdit" id="editPresent" value="present" [(ngModel)]="statusToEdit" [checked]="statusToEdit === 'present'" />
              <label class="form-check-label" for="editPresent">Present</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="statusToEdit" id="editAbsent" value="absent" [(ngModel)]="statusToEdit" [checked]="statusToEdit === 'absent'" />
              <label class="form-check-label" for="editAbsent">Absent</label>
            </div>
            
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="editAttendance()">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="deleteAttendanceModal" tabindex="-1" role="dialog"
  aria-labelledby="editAttendanceModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editAttendanceModalLabel">Delete Attendance</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to Delete Attendance?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="clickToDeleteSelected()">Delete</button>
      </div>
    </div>
  </div>
</div>






<!-- <div class="card shadow">
  <div class="card-body">
    <h5 class="card-title">Students</h5>
    <div>
      <div class="row col-md-12 table-responsive ">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th style="width: 10%;">Id</th>
              <th style="width: 50%;">Name</th>
              <th style="width: 10%;">Attendance</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let students of studentsInCourse">
              <td>{{ students?.publicId }}</td>
              <td>{{ caps(students?.firstname) }} {{ caps(students?.middlename) }} {{ caps(students?.lastname) }} {{
                caps(students?.suffix) }}</td>
              <td>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="attendance{{ students?.id }}"
                    id="present{{ students?.id }}" value="present"
                    (change)="markAttendance(students?.id, 'present')" />
                  <label class="form-check-label" for="present{{ students?.id }}">Present</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="attendance{{ students?.id }}"
                    id="absent{{ students?.id }}" value="absent"
                    (change)="markAttendance(students?.id, 'absent')" />
                  <label class="form-check-label" for="absent{{ students?.id }}">Absent</label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div> -->