<div class="row col-md-12 table-responsive" >
  <table class="table">
    <thead>
      <tr>
        <th style="width: 50%;">Title</th>
        <th style="width: 20%;">Duration</th>
        <th style="width: 30%;">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of course" (click)="redirectToDetail(course.id)">
        <td>{{ caps(course.title) }}</td>
        <td>{{ course.durationInHours }} Hour/s</td>
        <td><button class="btn btn-info"  (click)="redirectToEdit(course.id)">Edit</button>
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#proceedModal"
          (click)="deleteClick(course.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>


<div class="modal fade border-info" id="proceedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><strong>Heads up!</strong></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to Delete Course?</p>
      </div>
      <div class="modal-footer" *ngIf="course">
        <button type="button" class="btn btn-success me-2" (click)="deleteCourse(course.id)">Yes</button>
        <button type="button" class="btn btn-danger me-2"(click)="modalHide()">No</button>
      </div>
    </div>
  </div>
</div>